<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin page</title>
</head>
<body>
<form action="/add/" method=POST enctype="multipart/form-data">
    {{msg}}<br>

    <input type="file" name="pic" >
    <input type="text" placeholder="title" name="title">
    <input type="text" placeholder="price" name="price">
    <input type="submit">
</form>
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
</body>
</html>